<launch>

  <arg name="open_rviz" default="true"/>

  <!-- Run a transformation between the robot and its laser -->
  <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="-0.1524 0.0 0.1016 0 0 0 /base_footprint /base_scan 100" />

  <!-- Run a transformation between the robot and its laser -->
  <node pkg="tf" type="static_transform_publisher" name="link3_broadcaster" args="0.0 0.0 0.1016 0 0 0 /base_footprint /camera_rgb_optical_frame 100" />

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_gazebo_rviz.launch"/>
  </group>

</launch>